src/ArchLib/Service References/MailWebService/mailcenter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service.pharmatechs.sh.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.pharmatechs.sh.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://service.pharmatechs.sh.cn/">
      <s:element name="sendShortMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendShortMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendShortMailResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachment" type="tns:ArrayOfArrayOfBase64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="mailType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfBase64Binary" nillable="true" type="tns:ArrayOfBase64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="sendMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendMailResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMailWithImgAndAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Img" type="tns:ArrayOfArrayOfBase64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="attachment" type="tns:ArrayOfArrayOfBase64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="mailType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMailWithImgAndAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendMailWithImgAndAttachmentResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMailWithImg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="img" type="tns:ArrayOfArrayOfBase64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="mailType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMailWithImgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendMailWithImgResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendShortMailSoapIn">
    <wsdl:part name="parameters" element="tns:sendShortMail" />
  </wsdl:message>
  <wsdl:message name="sendShortMailSoapOut">
    <wsdl:part name="parameters" element="tns:sendShortMailResponse" />
  </wsdl:message>
  <wsdl:message name="sendMailSoapIn">
    <wsdl:part name="parameters" element="tns:sendMail" />
  </wsdl:message>
  <wsdl:message name="sendMailSoapOut">
    <wsdl:part name="parameters" element="tns:sendMailResponse" />
  </wsdl:message>
  <wsdl:message name="sendMailWithImgAndAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:sendMailWithImgAndAttachment" />
  </wsdl:message>
  <wsdl:message name="sendMailWithImgAndAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:sendMailWithImgAndAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="sendMailWithImgSoapIn">
    <wsdl:part name="parameters" element="tns:sendMailWithImg" />
  </wsdl:message>
  <wsdl:message name="sendMailWithImgSoapOut">
    <wsdl:part name="parameters" element="tns:sendMailWithImgResponse" />
  </wsdl:message>
  <wsdl:portType name="MailCenterSoap">
    <wsdl:operation name="sendShortMail">
      <wsdl:input message="tns:sendShortMailSoapIn" />
      <wsdl:output message="tns:sendShortMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <wsdl:input message="tns:sendMailSoapIn" />
      <wsdl:output message="tns:sendMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendMailWithImgAndAttachment">
      <wsdl:input message="tns:sendMailWithImgAndAttachmentSoapIn" />
      <wsdl:output message="tns:sendMailWithImgAndAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendMailWithImg">
      <wsdl:input message="tns:sendMailWithImgSoapIn" />
      <wsdl:output message="tns:sendMailWithImgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MailCenterHttpGet" />
  <wsdl:portType name="MailCenterHttpPost" />
  <wsdl:binding name="MailCenterSoap" type="tns:MailCenterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendShortMail">
      <soap:operation soapAction="http://service.pharmatechs.sh.cn/sendShortMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <soap:operation soapAction="http://service.pharmatechs.sh.cn/sendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMailWithImgAndAttachment">
      <soap:operation soapAction="http://service.pharmatechs.sh.cn/sendMailWithImgAndAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMailWithImg">
      <soap:operation soapAction="http://service.pharmatechs.sh.cn/sendMailWithImg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailCenterSoap12" type="tns:MailCenterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendShortMail">
      <soap12:operation soapAction="http://service.pharmatechs.sh.cn/sendShortMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <soap12:operation soapAction="http://service.pharmatechs.sh.cn/sendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMailWithImgAndAttachment">
      <soap12:operation soapAction="http://service.pharmatechs.sh.cn/sendMailWithImgAndAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMailWithImg">
      <soap12:operation soapAction="http://service.pharmatechs.sh.cn/sendMailWithImg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailCenterHttpGet" type="tns:MailCenterHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="MailCenterHttpPost" type="tns:MailCenterHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="MailCenter">
    <wsdl:port name="MailCenterSoap" binding="tns:MailCenterSoap">
      <soap:address location="http://web2.wuxiapptec.sh.cn/servicecenter/mailcenter.asmx" />
    </wsdl:port>
    <wsdl:port name="MailCenterSoap12" binding="tns:MailCenterSoap12">
      <soap12:address location="http://web2.wuxiapptec.sh.cn/servicecenter/mailcenter.asmx" />
    </wsdl:port>
    <wsdl:port name="MailCenterHttpGet" binding="tns:MailCenterHttpGet">
      <http:address location="http://web2.wuxiapptec.sh.cn/servicecenter/mailcenter.asmx" />
    </wsdl:port>
    <wsdl:port name="MailCenterHttpPost" binding="tns:MailCenterHttpPost">
      <http:address location="http://web2.wuxiapptec.sh.cn/servicecenter/mailcenter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>